{% import "components/form/fields_macros.html.twig" as fields %}
{% set field_options = {
    'disabled': true
} %}
{% set bg = "" %}
{% if item.isDeleted() %}
    {% set bg = "asset-deleted" %}
{% endif %}

<div class="asset {{ bg }}">
    {% include("components/form/header.html.twig") %}

    {% set rand = random() %}
    {% set params  = params ?? [] %}
    {% set target       = params['target'] ?? item.getFormURL() %}
    {% set withtemplate = params['withtemplate'] ?? "" %}
    {% set item_type = item.getType() %}
    <input type="hidden" name="users_id" value="{{ params['users_id'] }}" />
    <input type="hidden" name="date_idea" value="{{ params['date_idea'] }}" />
    <div class="card-body d-flex">
        <div class="col-9 flex-column">
            <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
                <div class="row flex-row align-items-start flex-grow-1">
                    <div class="row flex-row">
                        {% if item.isField('name') %}
                            {{ fields.autoNameField(
                                "name",
                                item,
                                (item_type == 'Contact' ? __('Surname') : __('Name')),
                            withtemplate,
                            {
                                'required': true

                            }
                            ) }}
                        {% endif %}

                        {% if item.isField('users_id') %}
                            {{ fields.dropdownField(
                                "User",
                                "users_id",
                                params['users_id'],
                                __('Author'),
                                {
                                    'entity': item.fields['entities_id'],
                                    'right': 'all',
                                    'disabled': true
                                }
                            ) }}
                        {% endif %}

                        {{ fields.datetimeField(
                            'date_idea',
                            params['date_idea'],
                            __('Date of submission', 'ideabox'),
                            field_options
                        ) }}

                        {% if get_current_interface() == 'central' %}
                            {{ fields.dropdownArrayField(
                                'state',
                                item.fields['state'],
                                {0: '-----', 1: __('New', 'ideabox'), 2: __('In study', 'ideabox'), 3: __('In progress', 'ideabox'), 4: __('Closed', 'ideabox')},
                                __('Internal state', 'ideabox'),
                                {
                                    required: true
                                }
                            ) }}
                        {% endif %}

                        {% if get_current_interface() == 'central' %}
                            {% if item.isField('is_helpdesk_visible') %}
                                {{ fields.dropdownYesNo(
                                    'is_helpdesk_visible',
                                    item.fields['is_helpdesk_visible'],
                                    __('Associable to a ticket'))
                                }}
                            {% endif %}
                        {% endif %}
                        {% if item.isField('comment') %}

                            {{ fields.textareaField(
                                'comment',
                                item.fields['comment'],
                                __('Description', 'ideabox'),
                                {
                                    'full_width': true,
                                    'enable_richtext': true,
                                    'is_horizontal': false,
                                    'enable_fileupload': false,
                                    'enable_images': false,
                                    'enable_mentions': false,
                                    'rand': rand,
                                    'required': true
                                }
                            ) }}
                        {% endif %}

                    </div> {# .row #}
                </div> {# .row #}
            </div> {# .flex-row #}
        </div>
        <div class="col-3 flex-column">
            <div class="flex-row asset-pictures">
                {% include("components/form/pictures.html.twig") with {'gallery_type': ''} %}
            </div>
        </div>
    </div> {# .card-body #}

    {% include("components/form/buttons.html.twig") %}
    {#    {% include("components/form/inventory_info.html.twig") %} #}


    {% if params['formfooter'] == null %}
        <div class="card-footer mx-n2 mb-n2 mt-4">
            {% include("components/form/dates.html.twig") %}
        </div>
    {% endif %}
</div>
